<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid"></div>
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %} 
                    <li>
                        <!-- Add add review button ADD LATER -->
                        <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer_id %}">Add review</a>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username">&nbsp;
                                <input type="password" class="form-control" placeholder="Password" name="psw">&nbsp;
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-outline-primary" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>

                    </li>
                    {% endif %}
            </ul>
    </nav>
    {% if reviews %}
    <h1>Reviews for {{dealership}} {{dealership_no}}</h1>
    {% else %}
    No reviews for this dealership
    {% endif %}
    <!-- Add reviews as cards -->
    <div class="card-columns">
        <script>
                document.write('{% for review in reviews %} <div class="card" id="i" value="i"> <img class="card-img-left" alt="Card image cap" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" width="50" height="51"><div class="card-body"><h4 class="card-title text-center">{{review.car_model}}<br>{{review.car_year}}</h4><p class="card-text text-center">{{review.review}}</p><p class="card-text text-center"><small class="text-muted">Purchased on {{review.purchase_date}}</small></p></div></div> {% endfor %}');

        </script>
        
        <!--
        {% for review in reviews %}
        <div class="card" name={{review.id}}>
            <img class="card-img-left" alt="Card image cap" src="{{MEDIA_URL}}/emoji/positive.png" width="50" height="51">
            <div class="card-body">
                    <h4 class="card-title text-center">{{review.car_model}}<br>{{review.car_year}}</h4>
                    <p class="card-text text-center">{{review.review}}</p>
                    <p class="card-text text-center"><small class="text-muted">Purchased on {{review.purchase_date}}</small></p>
            </div>
        </div>
        {% endfor %}
        -->
    </div>

    </body>

</html>